body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.header {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    letter-spacing: 1px;
    color: #37393a;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.container {
    width: 50vh;
    max-height: 70vh;
    padding: 20px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    overflow:auto;
    border-radius: 10px;
}

.clear-all, .task-create {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.task-create input {
    width: min(100%, 300px);
    height: 20px;
    padding: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 10px;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    letter-spacing: 1px;
}

.task-create button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: 5px;
}

.clear-all button{
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-bottom: 20px;
}

.clear-all button img, .task-create button img {
    width: 40px;
    height: 40px;
    display: block;
}


.task-align {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 300px;
    padding: 15px 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 10px;
    background-color: white;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
}

.task-align input[type=checkbox] {
    margin: 0;
    height: 20px;
    width: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.align-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100vh;
}

.Section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: none;
    border-radius: 10px;
    width: 55vh;
    height: 30vh;
}
